@page "/Profile/ChangePassword"
@model Views.Pages.Profile.ChangePasswordModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}
<div class="container-xl" style="min-height: calc(100vh - 70px - 244px); height:calc(100vh - 70px - 244px)">
    <div class="row w-100 h-100 justify-content-between">
        <div class="col-3 border-end border-dark-subtle">
            <div class="w-100">
                <img class="d-block w-100 object-fit-cover" src="@Model.Profile.Avatar"/>
            </div>
        </div>
        <div class="col-9">
            <h1 class="text-center fw-semibold border-bottom py-3 mb-3">Your profile information</h1>
            <div class="row py-3 mb-3 border-bottom">
                <div class="col-4 fs-3">
                    <p class="fw-bold">Username: </p>
                    <p class="fw-bold">Email: </p>
                    <p class="fw-bold">Rating: </p>
                    <p class="fw-bold">Reputation: </p>
                </div>
                <div class="col-8 fs-3">
                    <p class="">@Model.Profile.Username</p>
                    <p class="">@Model.Profile.Email</p>
                    <p class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill d-block" style="width:fit-content">@Model.Profile.Rating</p>
                    <p class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill d-block" style="width:fit-content">@Model.Profile.Reputation</p>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center ">
                 <div class="w-50">
                    <form method="post">
                        <input asp-for="OldPassword" placeholder="Old password" class="form-control mb-3 fs-3" />
                        <input asp-for="NewPassword" placeholder="New password" class="form-control mb-3 fs-3" />
                        <input asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control mb-3 fs-3" />
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-outline-dark fs-3 w-100">Save change</button>
                            </div>
                            <div class="col-6">
                                <a href="/Profile" class="btn btn-outline-danger fs-3 w-100">Return</a>
                            </div>
                        </div>
                    </form>
                 </div> 
            </div>
        </div>
    </div>
</div>

